
body {
    background-color: rgb(244, 242, 233);
}

#wrapper {
    width: 400px;
    margin: auto;
    background-color: rgb(230, 226, 194);
    border-radius: 12px;
    height: 80px;
    padding: 10px;
    text-align: center;
    margin-top: 200px;
}