<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Reading List</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div id="wrapper">
            <p>Connect your Goodreads account to see available books.</p>
            <a href="{{ authorize_url }}">
                <img src="static/images/goodreads.png" width="164" height="24" />
            </a>
        </div>
    </body>
</html>
